* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-size: contain;
  background-repeat: no-repeat;
  color: black;
}

.item-img {
  margin-top: 100px;
  height: 75vh !important;
  width: 50% !important;
}
.text {
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.notice {
  border: 3px solid black;
  background-color: green;
  color: white;
  text-align: center;
  width: 80%;
}
footer {
  color: white;
}
