.white {
  color: rgb(219, 215, 215);
}
/* .card {
  position: relative;
  width: 250px;
  height: 250px;
  color: #2e2d31;
  overflow: hidden;
  border-radius: 20px;
}
.temp-text {
  font-weight: bold;
  font-style: 24px;
  padding: 6px 12px;
  color: #f8f8f8;
}
.title {
  font-weight: bold;
}
.card-content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  background: #f2f2f2;
  border-top-left-radius: 20px;
  transform: translateY(150px);
  transition: transform 0.25s;
}
.card-content::before {
  content: "";
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}
.title {
  color: #131313;
  line-height: 15px;
}
.subtitle {
  display: block;
  font-style: 12px;
  margin-bottom: 10px;
}
.description {
  font-style: 14px;
  opacity: 0;
  transition: opacity 0.5s;
}
.card:hover .card-content {
  transform: translateY(0);
}
card:hover .description {
  opacity: 1;
  transition-delay: 0.25s;
} */
.card {
  position: relative;
  width: 350px;
  height: 350px;
  color: #fff;
  background: #131313;
  overflow: hidden;
  border-radius: 20px;
}
.t-cap {
  animation: goingUp;
  animation-duration: 2s;
  animation-fill-mode: backwards;
  animation: float 2s infinite linear iteration-count direction fill-mode;
}

@keyframes goingUp {
  0% {
    bottom: -50px;
  }

  100% {
    bottom: 20px;
  }
}

.temporary_text {
  font-weight: bold;
  font-size: 24px;
  padding: 6px 12px;
  color: transparent;
  /* background-image: url(../Images/BG\ Tickets.jpg); */
  background-size: contain;
  background-repeat: no-repeat;
}
#a {
  background-image: url(../Images/BG\ Tickets.jpg);
}
#b {
  background-image: url(../Images/Medusaridepics/Medusa\ 1.jpg);
}
#c {
  background-image: url(../Images/Bumpercarspics/Bumper\ cars\ 4.jpg);
}
.card_title {
  font-weight: bold;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  /* edit the width to fit card */
  width: 100%;
  padding: 20px;
  background-color: #181b1d;
  border-top-left-radius: 20px;
  /* edit here to change the height of the content box */
  transform: translateY(150px);
  transition: transform 0.25s;
}

.card_content::before {
  content: "";
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #181b1d;
}

.card_title {
  color: #fff;
  line-height: 15px;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s;
}

.card:hover .card_content {
  transform: translateY(0);
}

.card:hover .card_description {
  opacity: 1;
  transition-delay: 0.25s;
}
