@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: ghostwhite;
}
.intro {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../Images/Restaurant/background.jpg);
  width: 100%;
  height: 1000px;
  background-size: cover;
  margin-top: 0;
  display: flex;
}
.Name {
  color: #fff;
  position: relative;
  top: 35%;
  color: #b39873;
  font-family: "Chakra Petch", sans-serif;
  transform: rotate(-10deg);
}
.Brand {
  color: #fff;
  font-family: "Abel", sans-serif;
  position: relative;
  top: 40%;
  color: #b39873a5;
}
.col {
  height: inherit;
}

.logo {
  height: 300px;
  width: 500px;
  position: relative;
  top: 33%;
}
.logo img {
  height: 300px;
  width: 400px;
}
.chicken {
  width: 500px;
  height: 500px;
  background: url(../Images/Restaurant/butter-chicken.png);
  background-size: cover;
}
@media screen and (max-width: 800px) {
  .title {
    display: none;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  .menu-item {
    padding-top: 0 !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .menu-item img {
    width: 400px !important;
    height: 60% !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  .menu-item p {
    overflow: hidden;
    margin: 0 !important;
    height: 80vh;
  }
}
.menu-item {
  background: #0d1a1e;
  height: 100vh;
  width: 100%;
  padding-top: 10%;
  display: flex;
  justify-content: space-around;
  flex-direction: row !important;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.menu-item p {
  margin-top: 10%;
  margin-right: 100px;
  margin-left: 100px;
}

.menu-item img {
  position: relative;
  width: 40%;
  height: 100%;
  margin-right: 100px;
}
.menu-item:nth-child(2n) {
  flex-direction: row-reverse !important;
}
.menu-item:nth-child(2n) img {
  margin-left: 50px;
}
#a {
  background: url(../Images/eXpresso.jpg);
  background-size: cover;
}
#a p {
  margin-top: 60px;
  background-size: cover;
}
#b {
  background: url(../Images/blurry-gradient-haikei.png);
  background-size: cover;
}
#b img {
  height: 60%;
  margin-top: 130px;
}
#c {
  background: url(../Images/Restaurant\ Background.jpg);
}
#c img {
  height: 80%;
}
.outro {
  background: url(../Images/Restaurant/outro.jpg);
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}
.outro-text {
  font-family: "Chakra Petch", sans-serif;
  color: #fff;
}
.outro p {
  text-align: center;
}
footer {
  height: 280px;
  color: #fff;
}
@media screen and (max-width: 800px) {
  footer {
    height: 100%;
  }
  .outro {
    height: 130vh !important;
  }
}
