@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../Images/kieran-white-ApBBVS2csbY-unsplash.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: yellow;
}
.bg {
  position: absolute;
  z-index: -99;
  height: 100%;
  width: 50%;
}
.row {
  display: flex;
}
.bttn {
  width: 100% !important;
  margin-left: auto;
  color: transparent;
  font-size: larger;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
button {
  width: 500px;
}

/* input {
  margin-bottom: 50px;
} */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

body {
  background-color: #000;
}
.deals {
  margin-top: 100px;
  font-family: "PT Sans", sans-serif;
}
.h1 {
  display: flex;
  justify-content: center;
  font-weight: bolder;
}
.display-3 {
  font-weight: bolder;
  text-align: center;
  transition: 1s;
}
.display-3:hover {
  color: #3ecd5e;
}
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: 'Fasthand', ;
  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #fff;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}
footer{
  margin-top: 50px;
  background-color: #1b1e21;
  width: 100%;
  height: 330px;
  display: flex;
  justify-content: space-around;
  color: #fff;
  
}
.f-items{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px){
  .f-items{
      flex-direction: column;
  }
  footer{
      height: 100%;
  }
}
  
.f-item{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.f-line{
  width: 200px;
  height: 100px;
  border: 1px 0 0 0 solid #54d400;
}
.f-head{
  display: flex;
  color: #54d400;
  
}
.f-head > h2{
  font-family: 'Fasthand', cursive;
  font-size: xx-large;
}
.hr{
  padding: 0;
  border: 1px solid #54d400;
  width: 50px;
  height: 1px;
  margin: 30px 0 0 10px;
}
.New-ul{
  list-style: none;
  
}
.New-ul li{
  padding: 10px;
  /* margin-top: 20px; */
}
.New-ul li::before{
  content: "\00BB";
  
}
.New-ul > li > a{
  text-decoration: none;
  color: #fff;
}
.New-ul > li > a:hover{
  text-decoration: underline;
}
.icons{
  padding: 10px;
}
.icons > i{
  padding-right: 10px;
}
.social{
  margin-left: 10px;
}
.social-icons{
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px;
}
.social-icons:hover{
  background-color: #fff;
  color: #000 !important;
}
.open{
  padding-top: 10px;
}
.newsletter{
  padding-top: 10px;
}
 #News{
  height: 40px;
  width: 250px;
  padding: 20px;
  border-radius: 20px;
  border: 0;
}
::placeholder{
  font-weight: bolder;
}
input[type="submit"]{
  color: #1b1e21;
  height: 30px;
  width: 80px;
  background-color: #54d400;
  padding: 2px;
  border: 1px solid #ffca2c;
  margin-left: -95px;
  border-radius: 20px;    
}
input[type="submit"]:hover{
  background-color: white;
  color: #54d400;
  font-family: 'Montserrat', sans-serif;
}