@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(../Images/BG\ Tickets.jpg);
    /* background-size: cover; */

    
}
.form-text{
    font-family: 'PT Sans', sans-serif;
    color: yellow;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    margin-top: 50px;
}
.form{
    font-family: 'Roboto Slab', serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 50px;
    /* border: 1px solid yellow; */
}
.inputs{
    border: 1px solid red;
    padding: 50px;
    
}
.input-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.input{
    /* border: 1px solid gray; */
    width: 700px;
    display: flex;
    justify-content: space-around;
    height: 100px;
    
}
.input > input{
    padding-left: 2px;   
}
span{
    color: coral;
    margin-right: 100px;
}
input{
    color: coral;
    /* border: 0; */
    outline: 0;
    height: 0px;
    width: 300px;
    padding: 10px;
    font-size: 20px;

}