* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: #d8d9da;
}
.container > img {
  width: 70%;
  height: 500px;
  margin-left: 15%;
}
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 600px) {
  .container > img {
    width: 100%;
    margin-left: 0;
  }
}
.bg-svg {
  background-color: #00cba9;
  border: 0px solid #00cba9;
}
.fs-lg {
  font-size: larger;
  margin-right: 15%;
  width: 80%;
}
.card {
  width: 25%;
  margin: 0 auto;
}
footer {
  margin-top: 50px;
  background-color: #1b1e21;
  width: 100%;
  height: 330px;
  display: flex;
  justify-content: space-around;
  color: #fff;
}
.f-items {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .f-items {
    flex-direction: column;
  }
  footer {
    height: 100%;
  }
  .fd-c {
    flex-direction: column;
  }
  .mt {
    margin-top: 10px;
  }
}

@media screen and (max-width: 900px) {
  .fd-c {
    flex-direction: column;
    align-items: center;
  }
  hr {
    display: none;
  }
  #mt-5 {
    margin-top: 10px;
  }
  .mt {
    margin-top: 10px;
  }
  footer {
    height: 100%;
  }
  .f-items {
    flex-direction: column;
    /* background-color: #181b1d; */
    height: 100%;
  }
}
.f-item {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.f-line {
  width: 200px;
  height: 100px;
  border: 1px 0 0 0 solid #54d400;
}
.f-head {
  display: flex;
  color: #54d400;
}
.f-head > h2 {
  font-family: "Fasthand", cursive;
  font-size: xx-large;
}
.hr {
  padding: 0;
  border: 1px solid #54d400;
  width: 50px;
  height: 1px;
  margin: 30px 0 0 10px;
}
.New-ul {
  list-style: none;
}
.New-ul li {
  padding: 10px;
  /* margin-top: 20px; */
}
.New-ul li::before {
  content: "\00BB";
}
.New-ul > li > a {
  text-decoration: none;
  color: #fff;
}
.New-ul > li > a:hover {
  text-decoration: underline;
}
.icons {
  padding: 10px;
}
.icons > i {
  padding-right: 10px;
}
.social {
  margin-left: 10px;
}
.social-icons {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px;
}
.social-icons:hover {
  background-color: #fff;
  color: #000 !important;
}
.open {
  padding-top: 10px;
}
.newsletter {
  padding-top: 10px;
}
#News {
  height: 40px;
  width: 250px;
  padding: 20px;
  border-radius: 20px;
  border: 0;
}
::placeholder {
  font-weight: bolder;
}
input[type="submit"] {
  color: #1b1e21;
  height: 30px;
  width: 80px;
  background-color: #54d400;
  padding: 2px;
  border: 1px solid #ffca2c;
  margin-left: -95px;
  border-radius: 20px;
}
input[type="submit"]:hover {
  background-color: white;
  color: #54d400;
  font-family: "Montserrat", sans-serif;
}
